.box {
  width: 90%;
  background-color:#1c1d2f;
  border-radius: 15px;
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
}

.container {
  grid-gap: 1%;
}

.box:hover {
  background-color:#37535f;
  cursor: pointer;
}

.d {
margin-bottom: 2%;
}

@media (min-width: 768px) { 


  .intro {
    grid-column: 1 / 3;
   }

  h1 {
    padding: 1vw;
  }
  
  h4 {
    font-size: calc(8px + 0.2vw);
  }

  .a {
    width: 96%;
    grid-column: 1;
    grid-row: 2;
    margin-left: 5%;
    margin-right: 0%;
   }

  .b {
    width: 96%;
    grid-column: 1;
    grid-row: 3 ;
    margin-right: 0%;
    margin-left: 5%;
    margin-bottom: 1%;
  }
  .c {
    width: 94%;
    grid-column: 2;
    grid-row:  2;
    margin-left: 0%;
    margin-right: 5%;
  }

  .d {
    width: 94%;
    grid-column: 2;
    grid-row: 3;
    margin-right: 5%;
    margin-left: 0%;
    margin-bottom: 1%;
  }

  footer {
    grid-column: 1 / 3;
   }

}


  
