body {
  background-color: #1d0c30;
  margin: 0;
  font-family: "Coda";
  }
  h1{
    color: #ffffff;
    text-align: center;
  }
  h2 {
    color: #10e7e2;
  }

  h3{
    color: #94a8b6;
  }

  h4 {
    color: #94a8b6;
  }


  p {
    color: #94a8b6;
    margin: 0;
    text-align: justify
  }

  ul {
    color: #94a8b6;
    margin: 0;
    text-align: justify
  }

  li {
    color: #94a8b6;
    margin: 0;
    text-align: justify
  }


