body {
  align-items: center;
  text-align: center;
}
h1 {
  font-size: calc(15px + 1vw);
}
h2 {
  padding-bottom: 2%;
  font-size: calc(15px + 0.390625vw);
  text-align: center;
  margin: auto;
  padding: 10px;
}
h3 {
  font-size: calc(12px + 0.390625vw);
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}

h4 {
  font-size: calc(10px + 0.390625vw);
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}

.intro {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color:#037882;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.accueil {
  width: 15%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: justify;
  }

.accueil svg {
  width: 3vw;
  height: 3vw;
  fill: #ffffff;
}

.accueil  svg:hover {
  fill: #1c1d2f;
  cursor: pointer;
}

.menu {
width: 15%;
display: flex;
align-items: center;
text-align: center;
justify-content: space-between;
}

.menu svg {
  width: 3vw;
  height: 3vw;
  fill: #ffffff;
}

.menu  svg:hover {
  fill: #1c1d2f;
  cursor: pointer;
}


small {
  font-size: calc(10px + 0.3vw);
}

#wrapper {
  float: right;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 90%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #252736;
}

footer {
  clear: left;
  padding: 1.5vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.aligntable2 p {
  margin:2%;
}

@media(min-width: 1080px)
  { 

  .aligntable {
    float: left;
    width: 48%;
    height: auto;
    background-color:#1c1d2f;
    border-radius: 15px;
    margin-right: 0.5%;
    margin-left: 1.5%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
 
  .aligntable2 {
    float: left;
    width: 48%;
    height: 480px;
    background-color:#1c1d2f;
    border-radius: 15px;
    margin-right: 0.5%;
    margin-left: 1.5%;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  }

  @media(max-width: 1080px)
  { 

  .aligntable {
    float: left;
    width: 96%;
    height: auto;
    background-color:#1c1d2f;
    border-radius: 15px;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
 
  .aligntable2 {
    float: left;
    width: 96%;
    height: auto;
    background-color:#1c1d2f;
    border-radius: 15px;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  }



  table {
    table-layout: fixed;
    width: 96%;
    border-collapse : collapse;
    margin: 2%;
  }


  th {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.756);
    border-bottom: 3px solid rgba(255, 255, 255, 0.756);
    padding: 0.5vw;
    font-size: calc(10px + 0.590625vw);
    text-align: center;
    color: #ffffff;
  }
  td {
    border: 1px solid rgba(255, 255, 255, 0.756);
    text-align: center;
    color: #ffffff;
    padding: 0.5vw;
    font-size: calc(10px + 0.390625vw);
  }
