body {
  align-items: center;
  text-align: center;
}
h1 {
  font-size: calc(15px + 1vw);
}
h2 {
  border-bottom: 2px solid #10e7e2;
  display: block;
  width: 90% ;
  padding-bottom: 2%;
  font-size: calc(15px + 0.390625vw);
  text-align: center;
  margin: auto;
  padding: 10px;
}
h3 {
  font-size: calc(12px + 0.390625vw);
  margin-left: 2vw;
  margin-right: 2vw;
  text-align: justify;
}

h4 {
  font-size: calc(10px + 0.390625vw);
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}

.intro {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color:#037882;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.accueil {
  width: 15%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: justify;
  }

.accueil svg {
  width: 3vw;
  height: 3vw;
  fill: #ffffff;
}

.accueil  svg:hover {
  fill: #1c1d2f;
  cursor: pointer;
}

.menu {
width: 15%;
display: flex;
align-items: center;
text-align: center;
justify-content: space-between;
}

.menu svg {
  width: 3vw;
  height: 3vw;
  fill: #ffffff;
}

.menu  svg:hover {
  fill: #1c1d2f;
  cursor: pointer;
}



small {
  font-size: calc(10px + 0.3vw);
}




.aligndroite  svg {
  width: 15px;
  height: 15px;
  fill: #94979f;
}
.aligndroite  svg:hover {
  fill: rgb(255, 255, 255);
  cursor: pointer;
}

table {
  font-size: calc(15px + 0.3vw);
  table-layout: fixed;
  width: 90%;
  border-collapse : collapse;
  padding: 20px;
  margin:auto;
}
td:nth-child(1) {
  width: 70%;
  text-align: justify;
  color: #94979f;
  padding: 5px;
}
td:nth-child(2) {
  width: 5%;
  text-align: center;
  color: #94979f;
  padding: 5px;
}
td:nth-child(3) {
  width: 5%;
  text-align:center;
  color: #94979f;
  padding: 5px;
}
td:nth-child(4) {
  width: 5%;
  text-align: center;
  color: #94979f;
  padding: 5px;
}

.aligncenter h2{
 text-align: justify;
}

.aligncenter h3{
  text-align: justify;
  margin: auto;  
  width: 90% ;
  padding: 5px;
 }

.aligncenter {
  float: left;
  width: 97%;
  height: 150px;
  background-color:#1c1d2f;
  border-radius: 5px;
  margin-right: 1.5%;
  margin-left: 1.5%;
  margin-top: 0;
  margin-bottom: 1%;
}


#wrapper {
  float: right;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 90%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #252736;
}


@media(min-width: 1080px)
  { 

  .aligngauche {
    float: left;
    width: 38%;
    height: 330px;
    background-color:#1c1d2f;
    border-radius: 5px;
    margin-right: 0.5%;
    margin-left: 1.5%;
    margin-top: 1%;
    margin-bottom: 1%;
  }


  .aligndroite {
    float: right;
    width: 58%;
    height: 330px;
    background-color: #1c1d2f;
    border-radius: 5px;
    margin-left: 0.5%;
    margin-right: 1.5%;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .formulaire {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: calc(15px + 0.390625vw);
    display: block;
    margin-top: 5%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.756);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
   }
   
   
   select {
     cursor: pointer;
     width: 50%;
     text-align: center;
     padding: 5px;
     border: none;
     border-radius: 10px;
     margin-top: 2%;
     margin-bottom: 2%;
   }
   
   
   input {
     cursor: pointer;
     width: 50%;
     text-align: center;
     padding: 5px;
     border: none;
     border-radius: 10px;
     margin-top: 2%;
     margin-bottom: 2%;
   }

  }


  @media(max-width: 1080px) {
    .aligngauche {
      float: left;
      width: 97%;
      height:auto;
      padding-bottom: 3%;
      background-color:#1c1d2f;
      border-radius: 5px;
      margin-right: 1.5%;
      margin-left: 1.5%;
      margin-top: 0;
      margin-bottom: 1%;
    }

    .aligndroite {
      float: left;
      width: 97%;
      height: auto;
      padding-bottom: 3%;
      background-color:#1c1d2f;
      border-radius: 5px;
      margin-right: 1.5%;
      margin-left: 1.5%;
      margin-top: 0;
      margin-bottom: 1%;
    }

.formulaire {
 text-align: center;
 color: rgb(255, 255, 255);
 font-size: calc(15px + 0.390625vw);
 display: block;
 margin-top: 5%;
 border-bottom: 1px solid rgba(255, 255, 255, 0.756);
 width: 50%;
 margin-left: auto;
 margin-right: auto;
}


select {
  cursor: pointer;
  width: 50%;
  text-align: center;
  padding: 5px;
  border: none;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
}

input {
  cursor: pointer;
  width: 50%;
  text-align: center;
  padding: 5px;
  border: none;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
}

}


  footer {
    clear: left;
    padding: 1.5vw;
    background-color: rgba(0, 0, 0, 0.5);
  }
























