body {
  font-size: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
}
h1 {
  font-size: 25px;
  text-align: center;
}
h2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.756);
  padding-bottom: 2px;
  margin: 5px 0 10px;
  font-size: 30px;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 15px;
  margin: 5px 0 10px;
}

#intro {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px;
  align-items: center;
  display: block;
  margin-bottom: 20px;
}

#intro p {
  padding: 0 10px;
  text-align: center;
}


#intro p:last-child {
  font-size: 18px;
  margin-top: 50px;
}

small {
  font-size: 13px;
}
#wrapper {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 1200px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.15);
}


.menu-button-container {
  display: block;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button {
  margin-left: 20px;
  margin-top: 33px;
}

.menu-button,
.menu-button::before,
.menu-button::after {

  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

#menu-toggle:checked ~ .menu {
  padding: 0px;
  justify-content: space-around;
  background-color:rgb(255, 255, 255, 0.344) ;
  border-radius: 10px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  display: flex;
  vertical-align: top;
  list-style: none;
}

.menu {
  display:none;
}

.menu li {
  display: inline-block;  
  font-size: 20px;
  padding: 10px;
}


ul {
  list-style: none;
  padding-left: 20px;
}


.aligndiv3 a {
  color: #ffffff;
  text-decoration: none;
  outline: none; 
}


.aligndiv3 a:hover {
  color: #000000;
}




.aligndiv {
  float : left ;
  font-size: large;
  width: 538px;
  height: 320px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-bottom: 20px;
  margin-left: 15px; 
}

.aligndiv2 {
  float : left ;
  font-size: large;
  width: 1130px;
  height: 150px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.aligndiv3 {
  float : left ;
  font-size: large;
  width: 1130px;
  height: 120px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.aligndiv2 h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.756);
    padding-bottom: 2px;
    margin: 5px 0 10px;
    font-size: 20px;
    text-align: justify;
  }

  .aligndiv3 h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.756);
    padding-bottom: 2px;
    margin: 5px 0 10px;
    font-size: 20px;
    text-align: justify;
  }

.formulaire {
 text-align: center;
 color: rgb(255, 255, 255);
 font-size: 20px;
 display: block;
 margin-top: 20px;
 border-bottom: 1px solid rgba(255, 255, 255, 0.756);
 width: 310px;
 margin-left: auto;
 margin-right: auto;
}


select {
  cursor: pointer;
  width: 310px;
  text-align: center;
  padding: 5px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}


input {
  cursor: pointer;
  width: 310px;
  text-align: center;
  padding: 5px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tabs {
  margin-left: 20px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  display: block;
}

.tabs ul {
  list-style: none;
  padding-left: 20px;
}

.tabs ul li {
  display: inline-block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgb(255, 255, 255, 0.344);
  padding: 10px;
}

.tabs li:hover {
  background: rgb(0, 0, 0, 0.3);
  cursor: pointer;
}

.tabs .active:hover {
  background: rgb(0, 0, 0, 0.3);
  cursor: default ;
}

.tabs .active {
  background: rgb(0, 0, 0, 0.3);
}









footer {
  clear: left;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse : collapse;
}


td:nth-child(1) {
  text-align: justify;
  color: #ffffff;
  padding: 5px;
}

td:nth-child(1):hover {
cursor: pointer;
}

td:nth-child(2) {

  text-align: center;
  color: #ffffff;
  padding: 5px;
 
}

td:nth-child(3) {
  
  text-align: center;
  color: #ffffff;
  padding: 5px;
  
}

td:nth-child(4) {
 
  text-align: center;
  color: #ffffff;
  padding: 5px;

}




