.box {
  float: left;
  width: 90%;
  height: auto;
  background-color: #1c1d2f;
  border-radius: 15px;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 0;
  margin-bottom: 1%;
}

[data-tab-info] {
  display: none;
}

.active[data-tab-info] {
  display: block;
}

.tabs {
  margin-top: 2%;
  margin-left: 5%;
  font-size: calc(10px + 0.6vw);
  color: rgb(255, 255, 255);
  display: block;
}

.tabs ul {
  list-style: none;
  padding-left: 20px;
}

.tabs ul li {
  display: inline-block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgb(255, 255, 255, 0.344);
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 0.7vw;
  padding-bottom: 0.7vw;
  color: #ffffff;
}

.tabs li:hover {
  background: #1c1d2f;
  cursor: pointer;
  color: #94a8b6
}

.tabs .active:hover {
  background: #1c1d2f;
  color: #94a8b6;
  cursor: default;
}

.tabs .active {
  background: #1c1d2f;
  color: #94a8b6;
}

.tabs svg {
  display: inline-block;
  width: 3vw;
  height: 3vw;
  fill: #ffffff;
  margin: 0;
}

span {
  display: none;
}

.tabs p {
  display: "";
}


table {
  margin: 5%;
  margin-top: 0%;
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
  align-items: center;
}

th {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.756);
  border-bottom: 3px solid rgba(255, 255, 255, 0.756);
  margin: 0 0 10px;
  padding: 15px 0;
  font-size: calc(10px + 0.4vw);
  text-align: center;
  color: #ffffff;
  padding: 5px;
}

table img {
  width: calc(30px + 0.5vw);
  padding: 5px;
}

td {
  border: 1px solid rgba(255, 255, 255, 0.756);
  color: #ffffff;
  font-size: calc(10px + 0.2vw);
  align-items: center;
  text-align: center;
  padding: 5px;
}

td:nth-child(1) {
  text-align: right;
  border-right: transparent;
}

td:nth-child(2) {
  text-align: left;
  border-left: transparent;
}

thead th:nth-child(1) {
  width: 15%;
  border-right: transparent;
}

thead th:nth-child(2) {
  width: 50%;
  border-left: transparent;
}

#individuel {
  margin-bottom: 1%;
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
  align-items: center;
}

#individuel td{
  border: 1px solid rgba(255, 255, 255, 0.756);
  color: #ffffff;
  font-size:calc(10px + 0.2vw);
  align-items: center;
  text-align: center;
  padding: 5px; 
}

#individuel td:nth-child(1) {
  border: 1px solid rgba(255, 255, 255, 0.756);
}

#individuel td:nth-child(2) {
  border: 1px solid rgba(255, 255, 255, 0.756);
}

#individuel thead th:nth-child(1) {
  width: 45%;
  border: 1px solid rgba(255, 255, 255, 0.756);
  border-bottom: 3px solid rgba(255, 255, 255, 0.756);
}

#individuel thead th:nth-child(2) {
  width: 19%;
  border: 1px solid rgba(255, 255, 255, 0.756);
  border-bottom: 3px solid rgba(255, 255, 255, 0.756);
}

.sp {
  display: grid;
  grid-gap : 1%;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}


.sp h2 {
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
}

.boite {
  background-color: #252736 ;
  border : 2px solid #252736 ;
  border-radius: 15px;
  vertical-align: baseline;
}

.boite:hover {
  background-color: #1c1d2f;
  cursor: pointer;
}

.boite img{
  display: flex;
  margin: auto;
  width:calc(20px + 0.3vw);
  margin-top: 5px;
}

.legend{
  display: flex;
  justify-content: center;
  font-size: calc(10px + 0.3vw);
  margin-bottom: 5px;
}


.boite a:hover {
  color:#94a8b6;
}



.i {
  grid-row: 1;
  grid-column: 1/4;
}

.aa {
  grid-row: 2;
  grid-column: 1;
}

.bb {
  grid-row: 2;
  grid-column: 2;
}

.cc {
  grid-row: 2;
  grid-column: 3;
}




@media (min-width: 768px)  {
  thead th:nth-child(1) {
    width: 20%;
  }
  
  thead th:nth-child(2) {
    width: 55%;
  }
  span {
    display:block;
  }

  .bandeau {
    padding-left: 3% ;
    padding-right: 3%;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
  }
  .menu {
    width: 15%;
  }

  .accueil {
    width: 15%;
  }
  .tabs p {
    display: none;
  }
  .tabs {
    margin-top: 2%;
    margin-left: 5%;
    font-size: calc(10px + 0.6vw);
    color: rgb(255, 255, 255);
    display: block;
  }
  .tabs ul li {
    display: inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgb(255, 255, 255, 0.344);
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
    color: #ffffff;
  }
  .box {
    width: 95.10%;
    margin-right: 2.45%;
    margin-left: 2.45%;
  
  }
}